body{
    background-color: black;
}
p{
    color: yellow;
  }
   li{
       color: white;
   }
  img{
     border: solid;
     display: flexbox;
  }
  .header{
      background-color: red;
    justify-content: space-between;
      

  }
  h2{
      background-color:springgreen;
  }
  .grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }